@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'SF Pro';
    src: url('/src/fonts/SF-Pro.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

body {
    margin: 0;
    font-family: 'SF Pro', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
        'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
        sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    overflow: hidden;
}

/* 스크롤바 숨김 스타일 */
* {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;     /* Firefox */
}

/* Chrome, Safari and Opera */
*::-webkit-scrollbar {
    display: none;
}

/* 스크롤이 필요한 요소에 대한 스타일 */
.scroll-container {
    overflow-y: auto;
    -webkit-overflow-scrolling: touch; /* iOS 부드러운 스크롤 */
}